services:
    php:
        build:
            context: .
            dockerfile: .docker/php/Dockerfile
        volumes:
            - ./:/var/www/html:delegated

    nginx:
        image: nginx:1.28-alpine
        ports:
            - "8080:80"
        volumes:
            - ./:/var/www/html:delegated
            - ./.docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
        depends_on:
            - php
